{% extends "base.html" %}
{% load form_filters %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group shadow-sm">
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action {% if request.path == '/profile/' %} active {% endif %}">
                    <i class="fa-solid fa-user"></i> Profile
                </a>
                <a href="{% url 'address' %}" class="list-group-item list-group-item-action {% if request.path == '/address/' %} active {% endif %}">
                    <i class="fa-regular fa-address-book"></i> Address
                </a>
            </div>
        </div>

        <div class="col-md-6 offset-md-1">
            <div class="card shadow-lg border-0">
                <div class="card-header text-white text-center" style="background-color: #3a7ca5;">
                    <h4>Change Your Password</h4>
                </div>
                <div class="card-body" style="background-color: #f8f9fa;">
                    <form method="post" id="password-change-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password|add_class:"form-control" }}
                            <small class="text-danger">{{ form.old_password.errors|striptags }}</small>
                        </div>

                        <div class="mb-3">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1|add_class:"form-control" }}
                            <small class="text-danger">{{ form.new_password1.errors|striptags }}</small>
                        </div>

                        <div class="mb-3">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2|add_class:"form-control" }}
                            <small class="text-danger">{{ form.new_password2.errors|striptags }}</small>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn text-white" style="background-color: #28a745;">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
