{% extends 'base.html' %}
{% load static %}

{% block title %}{{ tool.title }}{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-between align-items-center">
        <!-- Tool Image -->
        <div class="col-lg-5 text-center mb-4">
            <img src="{{ tool.tool_image.url }}" 
                 class="img-fluid" 
                 style="width: 65%; object-fit: contain;" 
                 alt="{{ tool.title }}">
        </div>
        
        <!-- Tool Details -->
        <div class="col-lg-6">
            <h1 style="font-family: Georgia; font-size: 40px;">{{ tool.title }}</h1>
            <h5>₹{{ tool.selling_price }}/-</h5>
            <br>
            <h4>Tool Features</h4>
            <ul class="fs-5" style="font-family: Rajdhani;">
                <li>Used for: {{ tool.Used_for }}</li>
            </ul>

            <!-- Buttons -->
            <div class="buttons d-flex mt-4" style="font-family: Rajdhani;">
                <form action="/add_to_cart" class="d-inline">
                    <input type="hidden" name="tool_id" value="{{tool.id}}"/>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger p-2 me-2 btn-lg text-white">Add to Cart</button>
                </form>
                <a href="{% url 'show_cart'%}" class="btn btn-dark p-2 btn-lg text-white text-decoration-none" id="buy-now-btn">Buy Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
